body {
  background-color: #ccebff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin: 0 auto;
}

#quiz-container {
  height: 0 auto;
  width: 0 auto;
  margin: 0 auto;
  padding: 20px 30px;
  text-align: center;
}

ul {
  list-style: none;
  text-align: left;
  padding: 10px;
  margin: 0 auto;
  width: 300px;
}

#answerText {
  padding-left: 10px;
  display: inline;
  text-align: center;
}

.welcome {
  display: inherit;
}

.postion-and-score {
  text-align: center;
}

.current-question {
  text-align: center;
  font-size: 30px;
}

h3 {
  font-size: 40px;
}

img {
  width: 270px;
  height: 270px;
  padding-bottom: 20px;
  margin: auto;
}

#start-button {
  text-align: center;
}

button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: red;
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: auto;
}

#results-image {
  height: 200px;
}

#answercorrect, #answerincorrect {
  margin-top: 240px;
}